body {
  background-color:darkgray;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  
}

.title {
  border: solid lightblue 1px;
}

.avail {
  background-color: darkgray;
  color: yellow;
  display: flex;
  flex-grow: 1;
  
}

.catalog {
  display: flex;
}

.product-card {
  border: solid lightblue 1px;
  background-color: white;
  width: 400px;
  height: min-content;
  margin: 10px;
  flex-grow: 3;
  box-shadow: 2px 2px;

}

img {
  width: 300px;
  display: block;
  margin: auto;
}

section {
  padding: 3px;
}