@media (max-width: 320px) {
  .product-card {
    flex: 1 48%;
  }
}

.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: rgb(207, 167, 218); }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #77206b; }
.divider-color         { border-color: #BDBDBD; }


body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: justify;
}

p {
  font-size: 10pt;
}

footer {
  font-size: 8pt;
}

.title {
  border: solid lightblue 1px;
}

.avail {
  background-color: darkgray;
  color: yellow;
  margin: 0 -10px;
  padding-left: 10px;
  
}

.catalog {
  display: flex;
}

.product-card{
  border: solid lightblue 1px;
  box-shadow: 3px 3px;
  margin: 10px;
  flex-grow: 1;
  flex-basis: 33%;

}

img {
  height: 200px;
  display: block;
  margin: auto;
  padding-top: 10px;
}

section {
  padding: 0 10px;
}

.sold-out-item {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.stamp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

