.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: rgb(207, 167, 218); }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #77206b; }
.divider-color         { border-color: #BDBDBD; }


body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: justify;
}

p {
  font-size: 10pt;
}

footer {
  font-size: 8pt;
}

.title {
  border: solid lightblue 1px;
}

.avail {
  background-color: darkgray;
  color: yellow;
  margin: 0 -10px;
  
}

.catalog {
  display: flex;
}

.product-card{
  border: solid lightblue 1px;
  min-width: 300px;
  margin: 10px;
  flex-grow: 3;
  box-shadow: 3px 3px;

}

img {
  height: 200px;
  display: block;
  margin: auto;
  padding-top: 10px;
}

section {
  padding: 0 10px;
}